@model List<MVC_Project.Models.Product>

	<h2>Liste des produits</h2>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Description</th>
				<th>Price</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var product in Model)
			{
				<tr>
					<td>@product.Id</td>
					<td>@product.Name</td>
					<td>@product.Description</td>
					<td>@product.Price.ToString("C")</td>
					<td>
						<a href="@Url.Action("Edit", "Product", new { id = product.Id })" class="btn btn-primary">Edit</a>
						<a href="@Url.Action("Delete", "Product", new { id = product.Id })" class="btn btn-danger">Delete</a>
					</td>
				</tr>
			}
		</tbody>
	</table>